@{
    ViewData["Title"] = "Register";
}
@model UserRegisterDto
<h1>Register</h1>

<div class="row">
    <div class=col-md-6>
        <form asp-controller="User" asp-action="Register" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn-primary" />
            </div>
        </form>
    </div>
</div>